
<div class="row">
  <div class="col mb-2">
      <div class="card text-white bg-dark">
          <div class="card-header">
            <i class="fas fa-hard-hat"></i> Services
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-8">
                    <p>
                        Thurmont Paving is a locally owned professional asphalt blacktop paving contractor with competitive rates.      
                        If you are looking for high quality workmanship, give Thurmont Paving a call or email today.
                    </p>

                    <p class="contact-info">
                      <a href="mailto:thurmont.paving@gmail.com">
                        <i class="fa fa-envelope pr-1"></i> thurmont.paving@gmail.com
                      </a>
                    </p>
                    <p class="contact-info">
                      <a href="tel:3016622648">
                        <i class="fas fa-mobile-alt pr-1"></i> (301) 662-2648
                      </a>
                    </p>

                    <p>
                        Serving customers in the following areas: <br>Frederick County MD, Washington County MD, Montgomery County MD, Carroll County MD, 
                        and Howard County MD.
                    </p>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col">
                        <img src="../assets/images/financing_sm.png" class="img-fluid" alt="Financing Available" title="Financing Available">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <img src="../assets/images/free_estimates.png" class="img-fluid" alt="Fress Estimates" title="Fress Estimates">
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="card-deck">
  <div class="card text-white bg-dark">
      <img src="../../assets/images/services/2012_bt_biz_job3_pic5.jpg" class="card-img-top" alt="Asphalt Paving - YMCA">
      <div class="card-body">
        <h5 class="card-title">Commercial Asphalt Blacktop Paving</h5>
        <div class="card-text">
          <ul>
            <li>Parking lots</li>
            <li>Roadways</li>
            <li>Lines, stripes and lettering</li>
            <li>New or resurfacing</li>
            <li>Maintenance or patch work</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card text-white bg-dark">
      <img src="../../assets/images/services/2014_asphalt_res_job5_pic4.jpg" class="card-img-top" alt="Asphalt Paving">
      <div class="card-body">
        <h5 class="card-title">Residential Asphalt Blacktop Paving</h5>
        <div class="card-text">
          <ul>
            <li>Driveways</li>
            <li>Parking areas</li>
            <li>New or replacemnt</li>
            <li>Patch work</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mt-2">
    <div class="card text-white bg-dark">
        <img src="../../assets/images/services/2013_sealing_job1_pic6.jpg" class="card-img-top" alt="Sealcoating">
        <div class="card-body">
          <h5 class="card-title">Sealcoating</h5>
          <div class="card-text">
            <ul>
              <li>Commercial or Residential</li>
              <li>Protects against extreme weather</li>
              <li>Revitializes weathered pavement</li>
            </ul>
          </div>
        </div>
      </div>

    <div class="card text-white bg-dark">
      <img src="../../assets/images/services/2012_millings_job1_pic2.jpg" class="card-img-top" alt="Millings">
      <div class="card-body">
        <h5 class="card-title">Asphalt Millings</h5>
        <div class="card-text">
          <ul>
            <li>Commercial or Residential</li>
            <li>Recycled asphalt pavement</li>
            <li>Low-cost substitute</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card text-white bg-dark">
      <img src="../../assets/images/services/2013_tc_job2_pic2.jpg" class="card-img-top" alt="Tar and Chip">
      <div class="card-body">
        <h5 class="card-title">Tar and Chip</h5>
        <div class="card-text">
          <ul>
            <li>Commercial or Residential</li>
            <li>Liquid form of asphalt and stone</li>
            <li>Low-cost substitute</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mt-2">
    <div class="card text-white bg-dark">
      <div class="embed-responsive embed-responsive-16by9 mt-2" style="cursor: pointer;">
          <video id="video_medicalCenter1" class="embed-responsive-item" controls="true">
              <source src="../../assets/videos/commercial/video_flyingDog_06062021.mp4" type="video/mp4" >
              Your browser does not support the <code>video</code> element.
          </video>
        </div>
      </div>
  </div>

  <div class="card-deck mt-2">
    <div class="card text-white bg-dark">
      <div class="embed-responsive embed-responsive-16by9 mt-2" style="cursor: pointer;">
          <video id="video_medicalCenter1" class="embed-responsive-item" controls="true">
              <source src="../../assets/videos/commercial/video_commercial_2011_01_08.2mb.mp4" type="video/mp4" >
              Your browser does not support the <code>video</code> element.
          </video>
        </div>
      </div>
  </div>

  <div class="card-deck mt-2">
    <div class="card text-white bg-dark">
      <div class="embed-responsive embed-responsive-16by9 mt-2" style="cursor: pointer;">
        <video id="video_medicalCenter1" class="embed-responsive-item" controls="true">
            <source src="../../assets/videos/commercial/video_medicalCenter1.40mb.mp4" type="video/mp4" >
            Your browser does not support the <code>video</code> element.
        </video>
      </div>
    </div>
  </div>

  <div class="card-deck mt-2">
    <div class="card text-white bg-dark">
      <img src="../assets/images/services/2021_new_truck.jpg" class="img-fluid" style="float: right;" alt="Professional Equipment" title="Professional Equipment">
    </div>
  </div>

  <br>
  <br>